 
        <div class="modal-content siteColor">
            <div class="modal-header">
                <p class="modal-title">Make Default</p>
                <button type="button" class="close modal-chrome-btn modal-chrome-btn-close" (click)="bsModalRef.hide()" aria-label="Close">
                    <i class="bi bi-x-lg" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <p>Are you sure, want to make Default {{title}}?</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn siteBtnbackground" appSingleClick (click)="makedefault()">Confirm</button>
            </div>
        </div>
     