

<div class="modal-content siteColor">
    <div class="modal-header">
        <p class="modal-title">View Image</p>
        <button type="button" class="close modal-chrome-btn modal-chrome-btn-close" (click)="bsModalRef.hide()" aria-label="Close">
            <i class="bi bi-x-lg" aria-hidden="true"></i>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <img src="{{docPath}}{{obj.proofDocumentDetailId}}{{obj.proofFileExtenstion}}" alt="cricket ipl" class="rounded-3 siteheightwidth100">
        </div>
    </div>
</div>

